In [3]:
import pandas as pd
import numpy as np
data_train = pd.read_csv("train.csv")
data_test = pd.read_csv("test.csv")
data_train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [8]:
data_test.head()
#print(len(data_train['id']))
#31962

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [13]:
combined_data = pd.concat([data_train,data_test],axis=0)

E:\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [11]:
print(combined_data)

          id  label                                              tweet
0          1    0.0   @user when a father is dysfunctional and is s...
1          2    0.0  @user @user thanks for #lyft credit i can't us...
2          3    0.0                                bihday your majesty
3          4    0.0  #model   i love u take with u all the time in ...
4          5    0.0             factsguide: society now    #motivation
5          6    0.0  [2/2] huge fan fare and big talking before the...
6          7    0.0   @user camping tomorrow @user @user @user @use...
7          8    0.0  the next school year is the year for exams.ð...
8          9    0.0  we won!!! love the land!!! #allin #cavs #champ...
9         10    0.0   @user @user welcome here !  i'm   it's so #gr...
10        11    0.0   â #ireland consumer price index (mom) climb...
11        12    0.0  we are so selfish. #orlando #standwithorlando ...
12        13    0.0  i get to see my daddy today!!   #80days #getti...
13        14    1.0  @user #cnn calls #michigan middle school 'buil...
14        15    1.0  no comment!  in #australia   #opkillingbay #se...
15        16    0.0  ouch...junior is angryð#got7 #junior #yugyo...
16        17    0.0  i am thankful for having a paner. #thankful #p...
17        18    1.0                             retweet if you agree!
18        19    0.0  its #friday! ð smiles all around via ig use...
19        20    0.0  as we all know, essential oils are not made of...
20        21    0.0  #euro2016 people blaming ha for conceded goal ...
21        22    0.0  sad little dude..   #badday #coneofshame #cats...
22        23    0.0  product of the day: happy man #wine tool  who'...
23        24    1.0    @user @user lumpy says i am a . prove it lumpy.
24        25    0.0   @user #tgif   #ff to my #gamedev #indiedev #i...
25        26    0.0  beautiful sign by vendor 80 for $45.00!! #upsi...
26        27    0.0   @user all #smiles when #media is   !! ðð...
27        28    0.0  we had a great panel on the mediatization of t...
28        29    0.0        happy father's day @user ðððð
29        30    0.0  50 people went to nightclub to have a good nig...
...      ...    ...                                                ...
17167  49130    NaN  people do anything for fucking attention nowad...
17168  49131    NaN  creative bubble got burst ð¢ looking forward...
17169  49132    NaN  tomorrow is gonna be a big day! we are going t...
17170  49133    NaN  i am thankful for baby giggles. #thankful #pos...
17171  49134    NaN  #model   i love u take with u all the time in ...
17172  49135    NaN  in life u will grow to learn some pple will wo...
17173  49136    NaN  ði was the storm,you were the rain. togethe...
17174  49137    NaN  lovelgq -  broken ep via   #rnb #love #heabrok...
17175  49138    NaN  spread love not hateâ¤ï¸ðððð #pr...
17176  49139    NaN     @user @user are the most racist pay ever!!!!!
17177  49140    NaN  i am thankful for children. #thankful #positiv...
17178  49141    NaN  liverpool â¤ï¸ð¬ð§ #walk #liverpool #sta...
17179  49142    NaN  #bakersfield   rooster simulation: i want to c...
17180  49143    NaN  por do sol ó¾â¤ï¸#instagood #beautiful   #...
17181  49144    NaN  @user hell yeah what a great surprise for your...
17182  49145    NaN  when ur the joke ur defensive towards everythi...
17183  49146    NaN  #enjoying the #evening #sun in my #bedroom â¨...
17184  49147    NaN  tonight on @user from 9pm gmt  you can here a ...
17185  49148    NaN  today is a good day for excercise #imready #so...
17186  49149    NaN  good night with a tea and music âï¸ðð...
17187  49150    NaN  loving lifeðºð¸âï¸ð  #createyourfutu...
17188  49151    NaN  black professor demonizes, proposes nazi style...
17189  49152    NaN  learn how to think positive.  #positive   #ins...
17190  49153    NaN  we love the pretty, happy and fresh you! #teen...
17191  49154    NaN  2_damn_tuff-ruff_muff__techno_city-(ng005)-web...
17192  49155    NaN  thought factory: left-right polarisation! #tru...
17193  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
17194  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158    NaN  happy, at work conference: right mindset leads...
17196  49159    NaN  my   song "so glad" free download!  #shoegaze ...

[49159 rows x 3 columns]