In [2]:
import pandas as pd
import numpy as np
data_train = pd.read_csv("train.csv")
data_test = pd.read_csv("test.csv")
data_train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [30]:
data_test.head()
#print(len(data_train['id']))
#31962

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [24]:
combined_data = pd.concat([data_train,data_test],axis=0,sort=False,ignore_index=True)

In [25]:
print(combined_data)

          id  label                                              tweet
0          1    0.0   @user when a father is dysfunctional and is s...
1          2    0.0  @user @user thanks for #lyft credit i can't us...
2          3    0.0                                bihday your majesty
3          4    0.0  #model   i love u take with u all the time in ...
4          5    0.0             factsguide: society now    #motivation
5          6    0.0  [2/2] huge fan fare and big talking before the...
6          7    0.0   @user camping tomorrow @user @user @user @use...
7          8    0.0  the next school year is the year for exams.ð...
8          9    0.0  we won!!! love the land!!! #allin #cavs #champ...
9         10    0.0   @user @user welcome here !  i'm   it's so #gr...
10        11    0.0   â #ireland consumer price index (mom) climb...
11        12    0.0  we are so selfish. #orlando #standwithorlando ...
12        13    0.0  i get to see my daddy today!!   #80days #getti...
13        14    1.0  @user #cnn calls #michigan middle school 'buil...
14        15    1.0  no comment!  in #australia   #opkillingbay #se...
15        16    0.0  ouch...junior is angryð#got7 #junior #yugyo...
16        17    0.0  i am thankful for having a paner. #thankful #p...
17        18    1.0                             retweet if you agree!
18        19    0.0  its #friday! ð smiles all around via ig use...
19        20    0.0  as we all know, essential oils are not made of...
20        21    0.0  #euro2016 people blaming ha for conceded goal ...
21        22    0.0  sad little dude..   #badday #coneofshame #cats...
22        23    0.0  product of the day: happy man #wine tool  who'...
23        24    1.0    @user @user lumpy says i am a . prove it lumpy.
24        25    0.0   @user #tgif   #ff to my #gamedev #indiedev #i...
25        26    0.0  beautiful sign by vendor 80 for $45.00!! #upsi...
26        27    0.0   @user all #smiles when #media is   !! ðð...
27        28    0.0  we had a great panel on the mediatization of t...
28        29    0.0        happy father's day @user ðððð
29        30    0.0  50 people went to nightclub to have a good nig...
...      ...    ...                                                ...
49129  49130    NaN  people do anything for fucking attention nowad...
49130  49131    NaN  creative bubble got burst ð¢ looking forward...
49131  49132    NaN  tomorrow is gonna be a big day! we are going t...
49132  49133    NaN  i am thankful for baby giggles. #thankful #pos...
49133  49134    NaN  #model   i love u take with u all the time in ...
49134  49135    NaN  in life u will grow to learn some pple will wo...
49135  49136    NaN  ði was the storm,you were the rain. togethe...
49136  49137    NaN  lovelgq -  broken ep via   #rnb #love #heabrok...
49137  49138    NaN  spread love not hateâ¤ï¸ðððð #pr...
49138  49139    NaN     @user @user are the most racist pay ever!!!!!
49139  49140    NaN  i am thankful for children. #thankful #positiv...
49140  49141    NaN  liverpool â¤ï¸ð¬ð§ #walk #liverpool #sta...
49141  49142    NaN  #bakersfield   rooster simulation: i want to c...
49142  49143    NaN  por do sol ó¾â¤ï¸#instagood #beautiful   #...
49143  49144    NaN  @user hell yeah what a great surprise for your...
49144  49145    NaN  when ur the joke ur defensive towards everythi...
49145  49146    NaN  #enjoying the #evening #sun in my #bedroom â¨...
49146  49147    NaN  tonight on @user from 9pm gmt  you can here a ...
49147  49148    NaN  today is a good day for excercise #imready #so...
49148  49149    NaN  good night with a tea and music âï¸ðð...
49149  49150    NaN  loving lifeðºð¸âï¸ð  #createyourfutu...
49150  49151    NaN  black professor demonizes, proposes nazi style...
49151  49152    NaN  learn how to think positive.  #positive   #ins...
49152  49153    NaN  we love the pretty, happy and fresh you! #teen...
49153  49154    NaN  2_damn_tuff-ruff_muff__techno_city-(ng005)-web...
49154  49155    NaN  thought factory: left-right polarisation! #tru...
49155  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
49156  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
49157  49158    NaN  happy, at work conference: right mindset leads...
49158  49159    NaN  my   song "so glad" free download!  #shoegaze ...

[49159 rows x 3 columns]

In [54]:
import re
import nltk
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
from nltk import word_tokenize
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()
cleaned_tweets = []

for i in range(len(combined_data)):
    twt = combined_data['tweet'][i]
    twt = re.sub('[^a-zA-Z]',' ',twt)
    twt = re.sub(r"user",' ',twt)
    word_tokens = word_tokenize(twt)
    twt = [stemmer.stem(word) for word in word_tokens if word not in stop_words]
    twt = ' '.join(twt)
    cleaned_tweets.append(twt)

In [58]:
df = pd.DataFrame(cleaned_tweets)
print(df)

                                                       0
0          father dysfunct selfish drag kid dysfunct run
1      thank lyft credit use caus offer wheelchair va...
2                                         bihday majesti
3                            model love u take u time ur
4                                factsguid societi motiv
5      huge fan fare big talk leav chao pay disput ge...
6                                    camp tomorrow danni
7      next school year year exam think school exam h...
8      love land allin cav champion cleveland clevela...
9                                              welcom gr
10     ireland consum price index mom climb previou m...
11     selfish orlando standwithorlando pulseshoot or...
12                      get see daddi today day gettingf
13     cnn call michigan middl school build wall chan...
14     comment australia opkillingbay seashepherd hel...
15              ouch junior angri got junior yugyoem omg
16                               thank paner thank posit
17                                          retweet agre
18           friday smile around via ig cooki make peopl
19                          know essenti oil made chemic
20     euro peopl blame ha conced goal fat rooney gav...
21     sad littl dude badday coneofsham cat piss funn...
22     product day happi man wine tool weekend time o...
23                                 lumpi say prove lumpi
24           tgif ff gamedev indiedev indiegamedev squad
25     beauti sign vendor upsideofflorida shopalyssa ...
26     smile media pressconfer antalya turkey sunday ...
27                  great panel mediat public servic ica
28                                      happi father day
29     peopl went nightclub good night man action mea...
...                                                  ...
49129                    peopl anyth fuck attent nowaday
49130  creativ bubbl got burst look forward day never...
49131  tomorrow gon na big day go deliv first box boo...
49132                       thank babi giggl thank posit
49133                        model love u take u time ur
49134  life u grow learn pple work fuck u coz ur life...
49135  storm rain togeth destroy town becam name myqu...
49136  lovelgq broken ep via rnb love heabroken hea d...
49137  spread love hate prayingfororlando loveanoth t...
49138                                    racist pay ever
49139                         thank children thank posit
49140  liverpool walk liverpool starbuck avidaeboa pa...
49141  bakersfield rooster simul want climb vast expa...
49142  por sol instagood beauti instadaili instalik i...
49143  hell yeah great surpris present enjoy pictur b...
49144                   ur joke ur defens toward everyth
49145  enjoy even sun bedroom cozi even homesweethom ...
49146  tonight pm gmt special earli play new song upc...
49147  today good day excercis imreadi sofuckenreadi ...
49148  good night tea music billi music tea mug tokio...
49149  love life createyourfutur lifestyl holiday la ...
49150  black professor demon propos nazi style confis...
49151        learn think posit posit instagram instagood
49152  love pretti happi fresh teenilici fixdermateen...
49153  damn tuff ruff muff techno citi ng web ukhx in...
49154  thought factori left right polaris trump usele...
49155  feel like mermaid hairflip neverreadi formal w...
49156  hillari campaign today ohio omg amp use word l...
49157  happi work confer right mindset lead cultur de...
49158     song glad free download shoegaz newmus newsong

[49159 rows x 1 columns]

In [57]:
combined_data['cleaned tweets'] = df
print(combined_data.columns)

Index(['id', 'label', 'tweet', 'cleaned tweets'], dtype='object')